doctype html
html(lang="zh-tw")
    head
        meta(charset="UTF-8")
        title 學院介紹
        link(rel="stylesheet" type="text/css" href=`./${version}/css/index.css`)
        include ./head.pug
    body.basic
        include ./html-head.pug
        #container
            ul.menu
                li
                    a.select(href='#') 學院介紹
                li
                    a(href='recommend.html') 師長推薦
            .box.right
                .box-title
                    .tag.blue
                        p About Us
                    .content What is「翰林雲端學院」？
                .box-body
                    p
                        | 台灣享譽已久的翰林出版事業股份有限公司，秉持教育優先的一貫理念，以「提昇教育功能、領導出版潮流」為追求目標，與時俱進不斷革新。隨著科技的成熟，翰林多年來致力於發展數位出版内容，並投注大量人力與資金在教育科技上的研發應用，創建了全國最獨特的教育技術核心團隊。我們本著渾身熱忱與使命感，將最優的知識内容與先進的技術完美結合，為下一代獻上最好的學習幫手「翰林雲端學院」。
            .box.right
                .box-title
                    .tag.blue
                        p Our philosophy
                    .content 「翰林雲端學院」課程理念
                .box-body
                    img.about(src=`./${version}/img/ehanlin.png`)
                    p
                        | 從最初的發想開始，我們始終堅持要將正確完整的讀書方法帶給孩子：以「學習」、「測驗」、「診斷」與「補救」四個步驟，形成快速有效的學習循環
                    p
                        | 由於傳統的課堂教育只強調學習及測驗，學生上課或自修練習，然後不斷的考試，而這兩項活動無論在學校或補習班都是不斷的重複；即使如此，仍有非常多的孩子無法掌握核心知識與邏輯概念。問題的根本在於缺乏一套有效的「診斷」以及「補救」的方法，去了解每一位孩子的需求與學習障礙，導致老師也難以協助補救缺漏的知識或學習迷思。此外，在時間緊湊的教學現場，老師或學生都很難再為此付出更多的心思。
                    p
                        | 現在，由翰林最強研發團隊，運用多年來積累的專業教育經驗，搭配最優秀的教學内容，並結合未來世界最強大的雲端科技，隆重推出了「翰林雲端學院」，為您快速解決教育與學習上的疑難雜症，提供真正完整和有效的智慧學習工具。
            .box.right
                .box-title
                    .tag.blue
                        p Our Products
                    .content 雲端學院e名師課程
                .box-body
                    p
                        | 針對高中精專的科目知識與巨大的升學壓力，我們獨家結合全台補教界高中天王名師團隊與創新雲端科技，為您獻上e名師課程系列，專為提升學習成績而設計，絕對是您的最佳幫手。
                    ul
                        li
                            h3 一、教學講義
                            p 翰林領航，高中各科天王團隊全新編撰，真正掌握課綱脈動
                            p 精華講義搭配專業影音教學，學習有效率，問題迎刃而解
                            p 天王本尊親自蒐錄各方試題，提供重點複習及題目解析，考試必得高分
                        li
                            h3 二、影音課堂
                            p 全台補教界天王名師親自授課錄製，教學重點一把抓
                            p 最新HD高畫質影音課堂，臨場感佳
                            p 跨越時空，無遠弗屆，一看再看，回味無窮
                        li
                            h3 三、題庫診斷
                            p e名師課程包含指定e評量產品功能
                            p 智慧題庫、成績追蹤、弱點診斷搭配王牌名師知識傳授，搶分完美組合
                        li
                            h3 四、產品保證
                            p 好產品不怕試用，所有新註冊會員可享受14天指定功能免費試用
                            p 跟隨雲端學院課程學習，保證成績進步，如不滿意效果我們保證退費
                            p 爲您提供唯一零負擔的數位學習
                    .btns
                        a.btn.pink.big(title='立即購買', href='/type/TRIAL/SalesPlans.html') 立即免費試用課程
            .box.right
                .box-title
                    .tag.blue
                        p Our Products
                    .content 雲端學院e評量課程
                .box-body
                    p
                        | 專爲國中至高中學生設計的有效學習幫手！無論是自修學習搭配輔材或是輔助補習班追蹤學生弱點，e評量課程都是您的最佳選擇。
                    ul
                        li
                            h3 一、智慧題庫
                            p 全新超大優質題目蒐錄，遠高過傳統書籍與考卷
                            p 按照每位學生的學習程度，自動適性化出題，呼應學生真實能力
                        li
                            h3 二、成績分析
                            p 系統自動閲卷，題題解析，並記錄學習成績與錯題
                            p 完整的架構設計，可根據學生的答題狀況提供知識弱點分析
                            p 貼心提供全國雲端學院學員群體答題正確率+定期模擬考群體排名
                        li
                            h3 三、有效補救
                            p 國中補教界名師精心錄製各重點知識教學影片
                            p 隨時隨地隨看隨播，課前預習或課後複習的最佳選擇
                        li
                            h3 四、家長監督
                            p 家長獨享權限，即時監督孩子線上的學習進度
                            p 家長能完全掌握學習歷程，不必再擔心「孩子上網不學習」
                        li
                            h3 五、產品保證
                            p 好產品不怕試用，所有新註冊會員可享受14天指定功能免費試用
                            p 跟隨雲端學院課程學習，保證成績進步，如不滿意效果我們保證退費
                            p 爲您提供唯一零負擔的數位學習
            .box.right
                .box-title
                    .tag.blue
                        p Our Products
                    .content 翰林雲端學院TEAMS服務
                .box-body
                    p
                        | 以最聰明的方式實現完整的教學循環，一直是我們銘記在心的教育理念。由於「測驗」在亞洲的教學中佔據了關鍵的地位，卻缺乏後續的「診斷」與「補救」，導致學生忽略了每次測驗的真正目的應該是診斷自己的學習盲點，於是在學習路上只能囫圇吞棗、跌跌撞撞。而且在時間緊湊的教學現場，無論老師多麽認真教學，仍是有許多孩子無法一次掌握所有的知識概念。
                    p
                        | 爲了解決這樣的學習問題，我們推出全台首創的e學院服務，透過精心安排的雲端科技，能有效支援老師完成完整的教學循環。我們的服務包含海量的雲端題庫、全自動派卷/收卷/閲卷功能，並由系統主動完成個人與班級的成績診斷，讓所有的繁瑣工作化繁為簡，老師可全心專注在幫助孩子「學習」與「補救」。
                    br
                    p 將正確的學習循環帶給下一代，讓所有孩子們更順利的完成學業，是我們彼此共同努力的目標。
                    p *有關雲端學院服務，歡迎直接與我們聯繫。
                    .btns
                        a.btn(title='聯絡我們', href='/help.html?contact') 聯絡我們

        include ./html-footer.pug