.hide {
  display: none;
}

.left-side {
  float: left;
  width: 215px;
}

img.banner {
  display: block;
  margin: auto;
  width: 98%;
}

.unblock {
  font-weight: bold;
  font-size: 18px;
  position: absolute;
  right: 5px;
  top: 3px;
}

.box-body {
  p {
    line-height: 1.5em;
    font-size: 1.2em;
    color: #555;
    text-indent: 2em;
    margin: 15px auto;
    width: 94%;
  }

  img.about {
    float: right;
  }

  img.people {
    float: left;
    border: 3px #fff solid;
    box-shadow: 1px 1px 3px #ccc;
    padding: 0;
    margin: 20px;
  }

  h3 {
    color: #000;
    font-size: 1.3em;
    margin-top: 20px;
  }

  ul {
    li {
      display: inline-block;
      margin: 0 15px 5px;
      padding: 6px;
      width: 94%;
      border-radius: 6px;
      background: #f2f2f2;

      p {
        margin: 3px auto;

        &:before {
          content: " ";
          background-color: deepskyblue;
          display: inline-block;
          width: 8px;
          height: 8px;
          vertical-align: middle;
          border-radius: 100%;
          margin: 5px;
        }
      }

      h3 {
        color: #000;
        font-size: 1.3em;
        padding: 0 24px 12px 24px;
      }
    }
  }

  .btns {
    margin: 10px;
    text-align: center;
  }

  .people-says {
    margin-left: 225px;
  }

}


// -----新版樣式20250217 start-----//
// 背景顏色
body.about{
  background-color: #F5F5F5;
  .basic{
    margin-top: 80px!important;
    margin-bottom: 20px!important;
  }
}

// 標籤
.box-title{
  display: flex!important;
  flex-direction: column!important;
  background: unset!important;
  height: unset!important;
}
.box-title .tag{
  float: unset!important;
  background: unset!important;
  color: unset!important;
  width: unset!important;
  height: unset!important;
  background: unset!important;
  padding: unset!important;
  position: unset!important;
  order: 2;
  display: flex;
  align-items: center;
  // 虛線
  &::before{
    content:''!important;
    display: block;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(to right, #90B6E0 50%, transparent 50%);
    background-size: 6px 1px; /* 设置每段虚线的长度和间距 */
    background-repeat: repeat-x; /* 在 x 方向重复 */
    order: 2;
  }
  &::after{
    content:unset!important;
  }
}
.box-title .tag p{
  color: #0D6CBE!important;
  background: #EDF7FF!important;
  padding: 8px 32px 8px 20px !important;
  display: inline-block!important;
  order: 1;
  white-space: nowrap!important;
  position: relative;
  &::after{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%) scaleX(0.75);
    transform-origin: right;
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 15px solid;
    border-color: transparent #fff transparent transparent;
  }
}

// 標題
.box .box-title .content{
  color: #0D6CBE;
  order: 1;
}

// 內文
.box-body p{
  color: #999;
}

// 內文序列
.box-body ul li{
  padding: 12px!important;
  background: #fff!important;
  border: 1px #E3E3E3 solid;
  width: 92.5%!important;
  margin-top: 5px;
}
.box-body ul li h3{
  margin: unset!important;
  background-color: #F5F5F5!important;
  padding: 10px 18px!important;
  border-radius: 4px!important;
  margin-bottom: 8px!important;
}
.box-body ul li p{
  width: 100%!important;
  &::before{
    background-color: #999!important;
    width: 4px!important;
    height: 4px!important;
  }
}
.NewBlue{
  .btn{
    background: #0D6CBE!important;
    border: unset!important;
    box-shadow: unset!important;
    text-shadow: unset!important;
    padding: 10px 40px !important;
    font-size: 1.2em!important;
  }
}

// 左側
.menu{
  background: #fff!important;
  padding: 14px!important;
  a{
    color: #0D6CBE!important;
    padding: 8px!important;
    &::before{
      display: none!important;
    }
  }
}
.menu a:hover, .menu a.select{
  color: #0D6CBE!important;
  border-radius: 5px;
  background: #EDF7FF!important;
}
.menu a.select{
  color: #fff!important;
  background: #0D6CBE!important;
}

.menu li{
  margin-bottom: 4px!important;
  &:last-of-type{
    margin-bottom: unset!important;
  }
  a{
    width: 160px;
    border: unset!important;
  }
}

.box-body img.people{
  border: unset!important;
  box-shadow: unset!important;
}